body {
    font-family: Arial, Helvetica, sans-serif;
}

.keuze {
    background-color: #ccffff;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    border: solid #99ffff 6px;
    position: absolute;
    top: 0px;
}

h1 {
    color: black;
    font-size: 30px;
    top: 250px;
}

.link1{
    background-color: #ccffff;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    border: solid #99ffff 6px;
    position: absolute;
    top: 250px;
    color: black;
}

.link1:hover{
    background-color: #e6ffff;
    border: solid #b3ffff 6px;
}

.link2{
    background-color: #e6ffff;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 440px;
    border: solid #b3ffff 6px;
    position: absolute;
    top: 350px;
    color: black;
}

.link3{
    background-color: #ccffff;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    border: solid #99ffff 6px;
    position: absolute;
    top: 450px;
    color: black;
}

.link3:hover {
    background-color: #e6ffff;
    border: solid#b3ffff 6px;
}




