body {
    font-family: Arial, Helvetica, sans-serif;
background-color: #b3b3b3;
}

.keuze {
    background-color: #cccccc;
    padding: 20px;
    font-size: 60px;
    text-decoration: none;
    width: 1450px;
    position: relative;
    height: 60px;
    text-align: center;
    margin-top: auto;
    border-radius: 15px;
}

h1 {
    color: black;
    font-size: 30px;
    top: 250px;
}

.link1 {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    position: absolute;
    top: 150px;
    color: black;
    border-radius: 15px;
}

.link1:hover {
    background-color: #e6e6e6;
    width: 440px;
}

.link1:active {
    top: 155px;
}

.link2 {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    position: absolute;
    top: 250px;
    color: black;
    border-radius: 15px;
}

.link2:hover {
    background-color: #e6e6e6;
    width: 440px;
}

.link2:active {
    top: 255px;

}

.link3 {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    position: absolute;
    top: 350px;
    color: black;
    border-radius: 15px;
}

.link3:hover {
    background-color: #e6e6e6;
    width: 440px;
}

.link3:active {
    top: 355px;
}

.vakrechts {
    padding: 20px;
    width: 900px;
    height: 650px;
    position: relative;
float: right;
background-color: white;
border-radius: 15px;
margin-right: auto;
}

.tekst {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
width: 300px;
}

.titel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.waarom {
float: top;
}

.images {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    left: 600px;
    top: 50px;
}
