* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3b3b3;
}

.keuze {
    background-color: #cccccc;
    padding: 20px;
    font-size: 60px;
    text-decoration: none;
    width: 1500px;
    position: relative;
    height: 60px;
    text-align: left;

}

h1 {
    color: black;
    font-size: 30px;
    top: 250px;
}

.profile {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    position: absolute;
    top: 150px;
    color: black;
    border-radius: 15px;
}

.profile:hover {
    background-color: #e6e6e6;
    width: 440px;
}

.profile:active {
    top: 155px;
}

.introductie {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    position: absolute;
    top: 250px;
    color: black;
    border-radius: 15px;
}

.introductie:hover {
    background-color: #e6e6e6;
    width: 440px;
}

.introductie:active {
    top: 255px;

}

.dashboard {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 400px;
    position: absolute;
    top: 350px;
    color: black;
    border-radius: 15px;
}

.dashboard:hover {
    background-color: #e6e6e6;
    width: 440px;
}

.dashboard:active {
    top: 355px;
}

.vakrechts {
    padding: 20px;
    width: 900px;   
    height: 650px;
    position: relative;
    float: right;
    background-color: white;
    border-radius: 15px;
    right: 14px;
    top: 42px;
}

.tekst {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 300px;
}

.waarom {
    float: top;
}

.images {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    left: 600px;
    top: 50px;
}

.sitemap {
    margin-right: 20px;
    position: absolute;
    right: 20px;
}

.sitemaplinks {
    background-color: #cccccc;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 1450px;
    position: relative;
    height: 60px;
    text-align: center;
    top: 20px;
    border-radius: 15px;
}

