* {
    margin: 0;
}

@keyframes achtergrond{
    0% {
        background-color: #99ffbb;
    }
    100% {
        background-color: #33ffff;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.keuze {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out 0s;
    animation-duration: 3s;
    animation-name: slidein;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.profile {
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 65%;
    margin: 10px;
    color: white;
    border-radius: 15px;
    animation: achtergrond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out 0s;
    animation-direction: alternate;
}


.profile:hover {
    width: 440px;
}

.introductie {
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 65%;
    margin: 10px;
    color: white;
    border-radius: 15px;
    animation: achtergrond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out 0s;
    animation-direction: alternate;
}

.introductie:hover {
    width: 440px;
}

.dashboard {
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 65%;
    margin: 10px;
    color: white;
    border-radius: 15px;
    animation: achtergrond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out 0s;
    animation-direction: alternate;
}

.dashboard:hover {
    width: 440px;
}

.vak {
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 100%;
    margin: 10px;
    color: black;
    border-radius: 15px;
}
    
.tekst {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    float: right;
    width: 55%; 
    margin-right: 30px;
}

.images {
float: right;
}

.sitemap {
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 65%;
    margin: 10px;
    color: white;
    border-radius: 15px;
    animation: achtergrond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out 0s;
    animation-direction: alternate;
}

.sitemap:hover {
    width: 440px;
}


.sitemaplinks {
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    width: 100%;
    position: relative;
    height: 60px;
    text-align: center;
    top: 20px;
    border-radius: 15px;
    animation: achtergrond;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out 0s;
    animation-direction: alternate;
}

#vriendin {
    font-size: 15px;
}